function

In [2]:
def greet():
    print("Hello Sinsina")
greet()

Hello Sinsina

In [5]:
def greet(name):
    print("Hello",name)
greet("Sinsina")

Hello Sinsina

In [6]:
def add(a,b):
    print("sum=",a+b)
add(5,4)

sum= 9

In [9]:
def greet(name):
    print(f"Hello {name}")
greet("Sinsina")

Hello Sinsina

In [10]:
def add(a,b):
    return(a+b)
add(5,5)

10

In [13]:
def square(a):
    return(a*a)
square(5)

25

In [63]:
def add(a,b):
    c=a+b
    print(c)
def sum():
    print("sum")
    add(5,5)
sum()

sum
10

In [62]:
def add(a,b):
    c=a+b
    return c
def sum():
    print("sum")
    return add(5,5)
print(sum())

sum
10

factorial

In [ ]:
#without function
n=int(input("Enter a no"))
print("no is",n)
f=1
for i in range(1,n+1):
    f=f*i
print(f)

no is 4
24

In [ ]:
#with function #using recursion
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)
n=int(input("Enter a no:"))
fact(n)

24

lambda

list comprehension

In [ ]:
#syntax
#expression for item in iterable if condition

In [79]:
s=[i*i for i in range(1,6)]
print(s)

[1, 4, 9, 16, 25]

In [93]:
n=int(input("Enter no"))
od=[i for i in range(n) if i%2==1]
print(od)

[1, 3, 5]

Given a list of strings,use a list comprehension create a new list containing a string that has more than five characters.

In [103]:
a=['apple','orange','banana','pineapple','plum']
b=[]
c=[i for i in a  if len(i)>5 ]
print(c)

['orange', 'banana', 'pineapple']

print only the keys in the dictionary

In [110]:
s={"name":"Jhon","age":18}
b=[key for key in s.keys()]
print(b)

['name', 'age']

print only the names in the list

In [138]:
s=[{"name":"Jhon","age":18},{"name":"Jane","age":20}]
b=[value for i in s for key,value in i.items() if key=="name" ]
print(b)

['Jhon', 'Jane']

flatten a list

In [145]:
d=[[1,2,3],[4,5,6],[7,8,9]]
e=[j for i in d for j in i]
print(e)

[1, 2, 3, 4, 5, 6, 7, 8, 9]