instance method, static method , class method

In [ ]:
#instance method

company_name="abc"
class Employee:
    def details(self,name,salary):
        self.name=name
        self.salary=salary
    def show_details(self):
        print(f"Employee name:{self.name} , Salary:{self.salary}")
emp=Employee()
emp.details("Jhon",50000)
emp.show_details()

Employee name:Jhon , Salary:50000

In [5]:
company_name="abc"
class Employee:
    def details(self,name,salary):
        self.name=name     
        self.salary=salary
        Employee.company_name="cde"
    def show_details(self):
        print(f"Employee name:{self.name} , Salary:{self.salary}")
    def change_company(self):
        print(f"company name:{self.company_name}")
emp=Employee()
emp.details("Jhon",50000)
emp.show_details()
emp.change_company()

Employee name:Jhon , Salary:50000
company name:cde

In [11]:

class Employee:
    company_name="abc"
    def details(self,name,salary):
        self.name=name     
        self.salary=salary


    def show_details(self):
        print(f"Employee name:{self.name} , Salary:{self.salary}")


    @classmethod
    def change_company(cla):
        cla.company_name="def"
        print(f"company name:{cla.company_name}")
emp=Employee()
emp.details("Jhon",50000)
emp.show_details()
Employee.change_company()

Employee name:Jhon , Salary:50000
company name:def

In [ ]:
class Employee:
    company_name="abc"
    def details(self,name,salary):
        self.name=name       #instance method
        self.salary=salary


    def show_details(self):
        print(f"Employee name:{self.name} , Salary:{self.salary}")


    @classmethod           #class method
    def change_company(cls,company_name):
        cls.company_name=company_name
        print(f"company name:{cls.company_name}")

    
    @staticmethod           #static method
    def is_valid_salary(salary):
        return salary>0



emp=Employee()
emp.details("Jhon",50000)
emp.show_details()

Employee.change_company("cde")

Employee.is_valid_salary(0)

Employee name:Jhon , Salary:50000
company name:cde

False

In [23]:
class BankAccount:

    interest_rate=0

    def __init__(self,balance=0):
        self.balance=balance 
        #instance
    def deposit(self,amount):
        self.balance=amount+self.balance
        print(f"Deposited:{amount} , Balance:{self.balance}")  

    @classmethod                #class meethod
    def set_interest_rate(cls,interest_rate):
        cls.interest_rate=interest_rate
        print(f"Interest rate:{cls.interest_rate}")

    @staticmethod
    def policy():
        print("Minimum balance should be 1000")

bank=BankAccount()
bank.deposit(500000000)

BankAccount.set_interest_rate(4000)

BankAccount.policy()

Deposited:500000000 , Balance:500000000
Interest rate:4000
Minimum balance should be 1000

In [24]:

class Employee:
    company_name="abc"
    def details(self,name,salary):
        self.name=name     
        self.salary=salary


    def show_details(self):
        print(f"Employee name:{self.name} , Salary:{self.salary}")


    @classmethod
    def change_company(cla):
        cla.company_name="def"
        print(f"company name:{cla.company_name}")
emp=Employee()
emp.details("Jhon",50000)
emp.show_details()
Employee.change_company()

Employee name:Jhon , Salary:50000
company name:def

Reverse a tuple

In [93]:

t=(3,4,5,6,7)
n=len(t)

for i  in range(len(t)):
    
    for j in range(n):
        pass

    print(t[j])
    n=n-1

7
6
5
4
3

reverse a number using while loop

In [111]:
n=int(input("Enter no"))
t=[]
print(n)
while n>0:
    t.append(n%10)
    n=n//10
print(t)

789
[9, 8, 7]

In [117]:
n=int(input("Enter no"))
t=[]
print(n)
while n>0:
    t.append(n%10)
    n=int(n/10)
print(t)

578
[8, 7, 5]

In [123]:
n=int(input("Enter no"))
print(n)
i=1
b=1
while i>0:
    b=n%10
    print(b)
    n=int(n/10)
    if n==0:
        break

405
5
0
4

remove duplicates from a list without using set.

In [159]:
l=[3,3,3,3,4,7,8,9,2,1,1,1,1,80,3,3,3,3,3,3,6,40,7]
l2=[]
for i in range(len(l)):
    if l[i] in l2:
        continue
    else:
        l2.append(l[i])
print(l2)

[3, 4, 7, 8, 9, 2, 1, 80, 6, 40]

In [ ]:

class Employee:

    def details(self,name,salary,company_name):
        self.name=name     
        self.salary=salary
        self.company_name=company_name


    def show_details(self):
        print(f"Employee name:{self.name} , Salary:{self.salary}, Company name:{self.company_name}")

emp=Employee()
emp.details("Jhon",50000,"HCL")
emp.show_details()
emp1=Employee()
emp1.details("Abin",50,"G")
emp1.show_details()

Employee name:Jhon , Salary:50000, Company name:HCL
Employee name:Abin , Salary:50, Company name:G